/*
For render the page, make sure that 'webapp' is added into the config option of run config as directory content.
And the 'war_exploded' mode is used.
*/


body{
    background-color: white;
}

input{
    padding: 0;
    border-width: 0;
    font-size: 20px;
    line-height: 32px;
}

fieldset{
    border-color: coral;
    padding: 5px;
    width: 395px;
    font-size: 22px;
}
#app{
    background-color: whitesmoke;
    margin: 0 auto;
}

#menuFrame{
    background-color:whitesmoke;
    height: 40px;
    line-height: 36px;
    margin: 0 auto;
    text-align: center;
    width: 850px;
    clear: right;
}

#topFrame{
    width: 860px;
    margin: 0 auto;
    background-color: azure;
}

.menuUl{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 850px;
}
.menuLi{
    list-style-type: none;
    float: left;
    width: 100px;
    line-height: 32px;
    text-align: center;
}

.menuLabel{
    line-height: 33px;
}
.menuLinkA{
    width: 85px;
    margin: 0 auto;
}

.menuSpan{
    display: block;
    width: 85px;
    margin: 6px;
    /*background-color: chocolate;*/
    border-radius: 7px;
    border: 1px lightskyblue solid;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
}

#menuLabelSearch{
    display: block;
    width: 150px;
    margin: 6px;
    /*background-color: chocolate;*/
    border-radius: 7px;
    border: 1px lightskyblue solid;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: blueviolet;
}

#menu_search{
    border: none;
    width: 100px;
}

#imgShowRound{
    text-align: center;
    height: 400px;
    margin: 0 auto;
}

input:focus{
    /*
    input:-internal-autofill-selected
     can be used to solve the black border problem
    */
    color: black;
    border-color: red;
    padding: 1px;
}

.logSPANform{
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.labelSPAN{
    width: 90px;
    display: inline-block;
    text-align: left;
}

#logForm{
    width: 390px;
    margin: 0 auto;
    padding-top: 25px;
}

#logFSdiv{
    width: 340px;
    text-align: left;
    margin: 2px auto;
    font-size: 18px;
}
/**
the following code snippet is only for drag check to exclude robotic
*/
.codeDRAGdiv{
    width: 260px;
    height: 40px;
    line-height: 40px;
    background-color: antiquewhite;
    position: relative;
    margin:0 auto;
}
.codeBGdiv{
    width:40px;
    height: 100%;
    position: absolute;
    background-color: #75CDF9;
}
.codeTEXTdiv{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
}
.codeBTNdiv{
    width:40px;
    height: 38px;
    position: absolute;
    border:1px solid #ccc;
    cursor: move;
    font-family: "宋体";
    text-align: center;
    background-color: #fff;
    user-select: none;
    color:#666;
}