<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>User Manage Page</title>
    <script src="/js/vue.js" type="text/javascript"></script>
    <link href="/css/frame.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="app">
    <div id="menuFrame">
        <ul id="menuUl">
            <li class="menuLi" v-for="item in menu">
                <span id="menuLabelSearch" v-if="item.label === '搜索'">
                    <label><input id="menu_search"/>{{item.label}}</label>
                </span>
                <span class="menuSpan" v-else>
                    <a class="menuLinkA" href="home.html">{{item.label}}</a>
                </span>
            </li>
        </ul>
    </div>
    <div id="topFrame">
        <div v-for="item in data1">
            <span>{{typeof item}}</span>
            <div v-for="(subItem,key,index) in item">
                <span :id="subItem">{{key}}...{{subItem}}..{{index}}</span>
            </div>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data() {
            return {
                data1:[{
                        uid: '1001',
                        name: 'Nagisa',
                        email: 'Nagisa@Kyoto.com',
                        deptId: '1',
                        deptName: '初一级部'
                    },
                    {
                        uid: '1002',
                        name: 'Madoka',
                        email: 'Madoka@Xuold.per',
                        deptId: '2',
                        deptName: '初一级部'
                    },
                    {
                        uid: '1003',
                        name: 'Pain',
                        email: 'PainSix@naruto.mov',
                        deptId: '3',
                        deptName: '初三级部'
                    },
                    {
                        uid: '1004',
                        name: 'Yuki',
                        email: 'Yuki@depress.mkv',
                        deptId: '2',
                        deptName: '初二级部'
                    }],
                regFrameData: [{
                    name:'用户名',
                    quaker:'text',
                    frontData:[],
                    backData:'',
                    flag:0
                },{
                    name:'密码',
                    quaker:'password',
                    frontData:[],
                    backData:'',
                    flag:0
                },{
                    name:'重复密码',
                    quaker:'password',
                    frontData:[],
                    backData:'',
                    flag:0
                },{
                    name:'姓名',
                    quaker:'text',
                    frontData:[],
                    backData:'',
                    flag:0
                },{
                    name:'性别',
                    quaker:'radio',
                    frontData:[
                        {name:'男',value:0},
                        {name:'女',value:1}],
                    backData:0,
                    flag:0
                },{
                    name:'身份证号',
                    quaker:'text',
                    frontData:[],
                    backData:'',
                    flag:0
                },{
                    name:'手机号',
                    quaker:'text',
                    frontData:[],
                    backData:111,
                    flag:0
                },{
                    name:'所在班级',
                    quaker:'select',
                    frontData:[{
                        index:1,
                        name:'初一级部'
                    },{
                        index:2,
                        name:'初二级部'
                    },{
                        index:3,
                        name:'初三级部'
                    }],
                    backData:1,
                    flag:0
                }],

                logFrameData: [{
                    name:'用户名',
                    quaker:'text',
                    backData:'',
                    flag:0
                },{
                    name:'密码',
                    quaker:'password',
                    backData:'',
                    flag:0
                },{
                    name:'验证码',
                    quaker:'text',
                    backData:'',
                    flag:0
                }],
                menu: [{
                    label: '首页',
                    icon:'md-home',
                    type:'primary',
                    show:true,
                    reply:'frontHome',
                    link: '#'
                },{
                    label: '校园风采',
                    icon:'md-school',
                    type:'info',
                    show:true,
                    reply:'frontEcology',
                    link: '#'
                },{
                    label: '相关数据',
                    icon:'ios-paper',
                    type:'info',
                    show:true,
                    reply:'frontData',
                    link: '#'
                },{
                    label: '设备维护',
                    icon:'ios-construct',
                    type:'info',
                    show:true,
                    reply:'frontRepair',
                    link: '#'
                },{
                    label: '注册',
                    icon:'md-add-circle',
                    type:'info',
                    show:true,
                    reply:'frontRegister',
                    link: '#'
                },{
                    label: '登录',
                    icon:'md-log-in',
                    type:'info',
                    show:true,
                    reply:'frontLog',
                    link: '#'
                },{
                    label: '搜索',
                    icon:'md-search',
                    type:'primary',
                    show:true,
                    reply:'frontSearch',
                    link: '#'
                },
                ]
            }
        },
        methods: {
            OperateMenu(index, reply) {
                console.log('menu ' + index + ', trigger ' + reply);
                if (reply == 'frontHome'){
                    this.FrontHome();
                }else if (reply == 'frontEcology') {
                    this.FrontEcology();
                }else if (reply == 'frontData') {
                    this.FrontData();
                }else if (reply == 'frontRepair') {
                    this.FrontRepair();
                }else if (reply == 'frontRegister') {
                    this.FrontRegister();
                }else if (reply == 'frontLog') {
                    this.FrontLog();
                }else if (reply == 'frontSearch') {
                    this.FrontSearch();
                }else {
                    console.log(" error ......")
                }
            },
            FrontHome() {
                console.log(" well the home page coming ");
                this.$http.get(`/homee`,'');
            },
            FrontEcology() {
                console.log(" well life-style in campus");
            },
            FrontData() {
                console.log(" well all history data can be visited here");
            },
            FrontRepair() {
                console.log(" well for the state of equipments");
            },
            FrontSearch() {
                console.log(" well the search key is " + this.searchKey);
            },
            FrontLog() {
                console.log("well, I am logging in")
            },
            FrontRegister() {
                console.log("well, I am register")
            },
        },

        watch: {
        },
        mounted() {
        }
    })
</script>
</body>
</html>